/* MENU NAV  HEADER*/
.navbar {
  width: 100%;
}
.navbar-container {
  background-color: #f7f7f7;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
.navbar-container.active {
  width: 100%;
  position: fixed;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 8%);
}
.logo-nav > img {
  width: 183px;
  height: 43;
  margin: 0;
}

.nav-ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.nav-ul .sign-up {
  margin-left: 50px;
  color: blue;
  font-weight: 700;
}

/* HEADER NAV RESPONSIVE */

@media only screen and (max-width: 978px) {
  .navbar-container {
    height: 83px;
    width: 100%;
  }
  .nav-ul {
    display: none;
  }
  .logo-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    align-items: center;
  }
  .logo-nav > img {
    width: 125px;
   }
  .div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



/* SIDE BAR*/
#sidebar {
  grid-area: sidebar;
  background-color: #fff;
  width: 30vh;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar-responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

/* SIDE BAR MOBILE */
@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
    width: 70%;
  }
  .sidebar-responsive {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  .sidebar-responsive-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(75deg, rgba(0, 0, 0, 0.48) 0%, rgb(0, 0, 0) 100%);
  }
}

.dropdown-sub--item {
  display: none;
}

/* SEARCH */
.search--input:focus ~ .search--label {
  display: none;
}

/* FORM */
.form--input:focus + .form--label {
  top: -65px;
  transition: top 250ms ease-in;
  background-color: #fff;
  color: green;
}

.form--input:valid + .form--label {
  top: -65px;
  transition: top 250ms ease-in;
  background-color: #fff;
}